# Node
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Java (Maven/Gradle)
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Docker
*.pid
*.seed
*.bak

# Keys / Secrets
*.key
*.pem
.env
